{% extends 'app/base.html' %}
{% load static %}

{% block title %}About{% endblock title %}
{% block main-content %}

<div class="container text-center mt-4">
<div class="card">
    <div class="card-body">
      <h3 class="card-title">Bloommerce</h3>
      <p class="card-text">Bloommerce is an online platform that enables businesses to sell products or services to customers over the internet. It allows customers to browse products, place orders, make payments, and track shipments from the convenience of their homes. Bloommerce site typically includes features such as a shopping cart, product pages, search functionality, customer reviews, and secure payment options. Bloommerce sites also offer additional services such as customer support, loyalty programs, and promotional offers. Overall, Bloommerce provides a convenient and efficient way for businesses to reach a global customer base and for customers to purchase products and services without the need to visit a physical store.</p>
      <p class="card-text"><a href="https://www.linkedin.com/feed/">LinkeIn</a></p>
    </div>
  </div>
</div>
{% endblock %}